{% extends 'account_base_main.html' %}
{% load crispy_forms_tags %}
{% block body_content %}
<div class="container">
	<div class="card card-register mx-auto mt-5">
		<div class="card-header">Create New Post</div>
		<div class="card-body">
			<form action=" " method="post">
				{% csrf_token %}
				{{ form|crispy }}
				<button class="btn btn-primary btn-block" type="submit">Create Post</button>
			</form>
		</div>
	</div>
</div>
{% endblock body_content %}
    